<!DOCTYPE html>

{% load static %}
{% load dajaxice_templatetags %}

{# --- allauth --- #}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load url from future %}

<html lang="en">
  <head>

  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'icons/logo32.png' %}">

    <title>Romanesco</title>
  
    <!-- 
    <link href="{% static 'libs/jQueryUI/css/ui-lightness/jquery-ui-1.10.4.custom.min.css' %}" rel="stylesheet">
     -->

    <!-- Freetrans CSS -->
    <link href="{% static 'libs/jquery-transform/jquery.freetrans.css' %}" rel="stylesheet">

    <!-- Nanoscroller CSS -->
    <link href="{% static 'libs/nanoscroller.css' %}" rel="stylesheet">

    <!-- jQuery oembed CSS -->
    <link href="{% static 'libs/jquery.oembed.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{% static 'libs/bootstrap-colorpickersliders/bootstrap.colorpickersliders.css' %}" rel="stylesheet">
    <link href="{% static 'libs/slider.css' %}" rel="stylesheet">
    <link href="{% static 'styles.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
  	{% dajaxice_js_import %}
  
  </head>

  <body>

    <div id="Romanesco_alerts">

      <div class="alert-controls">
        <button type="button" class="btn btn-default btn-xs btn-up nav">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <span class="badge-xs alert-number"></span>
        <button type="button" class="btn btn-default btn-xs btn-down nav">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
      </div>

      <div class="alert fade in">
        <p></p>
      </div>
    
      <button type="button" class="btn btn-default btn-xs btn-down show">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </button>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div id="user-profile">
          <ul class="user-profile">
            {% if request.user.is_authenticated %}

                <img class="user-img" src="{{ request.user.profile.profile_image_url }}"/>

                <div class="btn-group">
                  <button type="button" class="btn btn-primary">
                    {% if request.user.first_name or request.user.last_name %}
                      {{ request.user.first_name }} {{ request.user.last_name }}
                    {% else %}
                      {{ request.user.username }}
                    {% endif %}
                  </button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                  </ul>
                </div>

            {% else %}

                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Sign in / up <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% provider_login_url "google" %}">Google</a></li>
                    <li><a href="/accounts/facebook/login/"><div class="fb">Facebook</div></a></li>
                    <li><a href="{% url 'account_login' %}">Romanesco</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                  </ul>
                </div>
                {% include "socialaccount/snippets/login_extra.html" %}

            {% endif %}
          </ul>
        </div>

        <div class="sidebar">

          <h3 class="title"> <img class="title-img" src="{% static 'icons/logo48.png' %}"/> Romanesco</h3>

          <div class="nano item-list">
            <div class="nano-content">

              <div class="panel-group" id="accordion">

                <div class="panel panel-default in">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#Tools">
                        Tools
                      </a>
                    </h4>
                  </div>
                  <div id="Tools" class="panel-collapse collapse in">
                    <div class="panel-body">

                      <ul class="tool-list">
                        <li data-type="brush"><img src="{% static 'icons/brush.png' %}" alt="brush"></li>
                        <li data-type="rollerBrush"><img src="{% static 'icons/rollerBrush.png' %}" alt="rollerBrush"></li>
                        <li data-type="rectangle"><img src="{% static 'icons/rectangle.png' %}" alt="rectangle"></li>
                        <li data-type="circle"><img src="{% static 'icons/circle.png' %}" alt="circle"></li>
                        <li data-type="move"><img src="{% static 'icons/hand.png' %}" alt="hand"></li>
                        <li data-type="lock"><img src="{% static 'icons/lock.png' %}" alt="key"></li>
                        <li data-type="link"><img src="{% static 'icons/link.png' %}" alt="link"></li>
                        <li data-type="select"><img src="{% static 'icons/cursor.png' %}" alt="cursor"></li>
                        <li data-type="text"><img src="{% static 'icons/typewriter.png' %}" alt="typewriter"></li>
                        <li data-type="media"><img src="{% static 'icons/camera.png' %}" alt="camera"></li>
                      </ul>

                    </div>
                  </div>
                </div>
                <div class="panel panel-default in">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#Options">
                        Options
                      </a>
                    </h4>
                  </div>
                  <div id="Options" class="panel-collapse collapse in">
                    <div class="panel-body">

                      <div class="option-list">

                        <div class="general-options options">
                          <label class="display-grid-input" ><input id="displayGrid" type="checkbox" class="display-grid-input" name="display-grid-input" value="false">Display grid</label>
                        </div>  <!-- general options   -->

                        <div class="style-options options">

                          <label for="fillColorPicker" class="fill-color-picker">Fill color</label>
                          <input id="fillColorPicker" type="text" class="form-control fill-color-picker" data-name="fill-color-picker">
                          <label for="strokeColorPicker" class="stroke-color-picker">Stroke color</label>
                          <input id="strokeColorPicker" type="text" class="form-control stroke-color-picker" data-name="stroke-color-picker">
                          <label for="sizeSlider" class="size-slider">Stroke width</label>
                          <input id="sizeSlider" type="text" class="size-slider bootstrap-slider" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="3">
                          <label class="fill-shape-input" ><input id="fillShape" type="checkbox" class="fill-shape-input" name="fill-shape-input" value="false">Fill shape</label>
                        </div>  <!-- style options   -->

                        <div class="transform-options options">
                          <label for="scaleSlider" class="scale-slider">Scale</label>
                          <input id="scaleSlider" type="text" class="scale-slider bootstrap-slider" value="" data-slider-min="0.05" data-slider-max="5" data-slider-step="0.01" data-slider-value="1">
                          <label for="rotationSlider" class="rotation-slider">Rotation</label>
                          <input id="rotationSlider" type="text" class="rotation-slider bootstrap-slider" value="" data-slider-min="0" data-slider-max="360" data-slider-step="1" data-slider-value="0">
                        </div>  <!-- transform options   -->

                        <div class="delete-options options">
                          <button id="deleteSelectedItems" type="button" class="btn btn-danger btn-delete">Delete selected object</button>
                        </div>  <!-- delete options   -->

                        <div class="div-options link-options options">
                          <button id="modifySelectedItems" type="button" class="btn btn-primary">Modify selected item</button>
                        </div>  <!-- delete options   -->

                        <div class="image-options options"> 

                          <label id="scaleType" class="scale-type-input" ><input type="checkbox" class="scale-type-input" name="scale-type-input" value="false">Fit image</label>
                        
                        </div>  <!-- image options   -->
                          
                      </div>  <!-- option-list   -->

                    </div>
                  </div>
                </div>

                <div class="panel panel-default last-panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapseThree">
                        Medias
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">

                      <ul class="media-list">
                        <li><div class="media"><img src="{% static 'icons/cursors/brush.png' %}"></div></li>
                        <li><div class="media"><img src="{% static 'icons/cursors/lock.png' %}"></div></li>
                        <li><div class="media"><img src="{% static 'icons/cursors/hand.png' %}"></div></li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div> <!-- /nano -->

        </div>

        <div id="stage" class="main">
          
          <canvas id="canvas" resize hidpi="off" data-posX="{{ x }}" data-posY="{{ y }}" data-points="{{ points }}"></canvas>

        </div>

      </div>
    </div>

    <div id="templates">

      <div class="modals">

        <!-- Input div modal -->
        <div class="modal fade" id="divModal" tabindex="-1" role="dialog" aria-labelledby="urlModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="urlModalLabel"></h4>
              </div>
              <div class="modal-body">

                <div class="form-group name-group">
                  <label for="urlModalSiteNamte">Site name</label>
                  <input id="urlModalSiteNamte" type="text" class="name form-control" placeholder="Site name">
                </div>
                <div class="form-group url-group">
                  <label for="urlModalURL">URL</label>
                  <input id="urlModalURL" type="url" class="url form-control submit-shortcut" placeholder="http://">
                </div>
                <div class="form-group message-group">
                  <label for="urlModalMessage">Message</label>
                  <input id="urlModalMessage" type="text" class="message form-control submit-shortcut" placeholder="Enter the message you want others to see when they look at this link.">
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
              </div>
            </div>
          </div>
        </div> <!-- /Input div modal -->

      </div><!-- /Modals -->

      <div class="hidden">

        <a class="link" data-toggle="tooltip" data-title="" data-placement="auto right" ></a>
        
        <a class="lock" data-toggle="tooltip" data-title="" data-placement="auto right" ></a>
        
        <button type="button" class="btn btn-default updateBtn">Modify</button>

        <div class="custom-div">
          <div class="handle tl"></div>
          <div class="handle tr"></div>
          <div class="handle br"></div>
          <div class="handle bl"></div>
        </div>

        <!-- Input lock -->

        <div class="lock-content content" data-toggle="popover" data-container="body"></div>

        <!-- Input link -->

        <div class="link-content content">
          <a href=""></a>
          <p class="message"></p>
        </div> <!-- /link-content -->

      </div> <!-- /hidden -->

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <!-- <script src="{% static 'libs/jQueryUI/js/jquery-ui-1.10.4.custom.min.js' %}"></script> -->
    <script src="{% static 'libs/jquery-transform/MMatrix.js' %}"></script>
    <script src="{% static 'libs/jquery-transform/jquery.freetrans.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'libs/tinycolor.js' %}"></script>
    <script src="{% static 'libs/bootstrap-colorpickersliders/bootstrap.colorpickersliders.nocielch.js' %}"></script>
    <script src="{% static 'libs/bootstrap-slider.js' %}"></script>
    <script src="{% static 'libs/paper/paper-core.min.js' %}"></script>
    <script src="{% static 'libs/paper/paper-full.min.js' %}"></script>

    <script src="{% static 'libs/jquery.nanoscroller.js' %}"></script>
    <script src="{% static 'libs/jquery.oembed.js' %}"></script>
  <!--  <script src="{% static 'libs/fabric/all.js' %}">
-->
  </script>

    
    <!-- app scripts -->
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/coordinateSystems.js' %}"></script>
    <script src="{% static 'js/path.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/div.js' %}"></script>
    <script src="{% static 'js/tools.js' %}"></script>
    <script src="{% static 'js/lock.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>
